* {
  box-sizing: border-box;
}

body {
  max-width: 960px;
  margin: auto;
  padding: 1em;
  font-family: "SF Pro Text", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

img {
  width: 100%;
}

.column {
  grid-column: span 3;
}

.card {
  background: #ddd;
  border-radius: 1em;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  --card-buttons-border: 1px solid #aaa;
}

.card-img {
  position: relative;
}

.card-img-text {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  letter-spacing: .4em;
  color: #fff;
}

.card-body {
  padding: .8em 1em .9em;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
}

.card-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-meta-date {
  color: #979591;
}

.card-meta-buttons {
  display: flex;
  flex-flow: row nowrap;
  border: var(--card-buttons-border);
  border-radius: .7em;
  overflow: hidden;
}

.card-body-text p {
  margin-top: 0;
}

.card-meta a {
  text-decoration: none;
  padding: .7em;
  color: #6d675a;
  transition: all .2s ease;
}

.card-meta a:hover {
  color: #221f1c;
  background: #ccc;
  transition: all .2s ease;
}

.card-meta a:nth-child(1) {
  border-right: var(--card-buttons-border);
}

@media screen and (min-width:600px) {
  .column {
    grid-column: span 1;
  }
}