:root{
  --spacer: 1em;
}

* {
  box-sizing: border-box;
}

/** Not allowed to change this initial CSS code **/
body {
  background: url(../img/12_col.gif) center top repeat-y;
  background-size: 90%;
}

/*************************************************/

#container {
  width: 89.5%;
  margin: 0 auto;
}



header,
section,
aside,
main,
footer {
  min-height: 8em;
  border: 1px solid;
}

header, 
main, 
aside {
  background: beige;
  display: flex;
  flex-wrap: wrap;
}

header {
  padding: 3em 0;
  justify-content: center;
}



main section{
  margin: var(--spacer);
  flex: 1 0 calc(768px/3);
}

button {
  margin: var(--spacer);
  align-self: flex-start;
}

aside{
  padding: var(--spacer);
  align-content: flex-start;
}

aside button{
  flex: 1 0 100%;
  margin: calc(var(--spacer)/2);
  align-self: flex-start;
}

footer {
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px 2vw;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-12 {
  grid-column: span 12;
}

.col-sm-1 {
  grid-column: span 1;
}

.col-sm-2 {
  grid-column: span 2;
}

.col-sm-3 {
  grid-column: span 3;
}

.col-sm-4 {
  grid-column: span 4;
}

.col-sm-5 {
  grid-column: span 5;
}

.col-sm-6 {
  grid-column: span 6;
}

.col-sm-7 {
  grid-column: span 7;
}

.col-sm-8 {
  grid-column: span 8;
}

.col-sm-9 {
  grid-column: span 9;
}

.col-sm-10 {
  grid-column: span 10;
}

.col-sm-11 {
  grid-column: span 11;
}

.col-sm-12 {
  grid-column: span 12;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  header button:last-child {
    margin-left: auto;
  }

}

@media screen and (min-width: 960px) {
  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  footer {
    padding: 10px 0;
  }

  footer section:first-child {
    margin-left: 10px;
  }

  footer section:last-child {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    grid-column: span 1;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }
}